[user]
  name = kyawakyawa
  email = kyawashell@gmail.com
[credential]
  helper = cache
[alias]
  st = status
  pl = pull
  b  = branch 
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[merge]
  ff = false
[pull]
  ff = only
[init]
	defaultBranch = main
