[user]
  name = kyawakyawa
  email = kyawashell@gmail.com
[credential]
  helper = cache
[alias]
  st = status
  pl = pull
  b  = branch 
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[merge]
  ff = false
[pull]
  ff = only
[init]
	defaultBranch = main

# For delta
[core]
    pager = delta --side-by-side

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
  line-numbers = true

[merge]
    conflictStyle = zdiff3
