!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!

!!スクロールバーを右側
URxvt.scrollBar_right:      true
!!レールを消す
URxvt.scrollBar_floating:   true
!!rxvt plain next xterm
URxvt.scrollstyle:          plain
!!カーソル点滅
URxvt.cursorBlink:          true
!!カーソル形状
URxvt.cursorUnderline:      true
!!キーボード入力するとマウスポインタが消える
URxvt.pointerBlank:         true
!!ヴィジュアルベル
URxvt.visualBell:           true
!!バックスクロール出来る最大行数
URxvt.saveLines:            3000
!!アウトオブフォーカス時に画面を暗くする(%)
URxvt.fading:               10

!!フォント
!Ricty powerlineのパッチのやつだとバグる nerd-fontsを試すべし
!URxvt.font:              xft:Ricty\ Discord\ for\ Powerline:style=Regular:size=12:antialiase=true:hinting=true
!URxvt.boldFont:          xft:Ricty\ Discord\ for\ Powerline:style=Bold:size=12:antialiase=true:hinting=true
!URxvt.italicFont:        xft:Ricty\ Discord\ for\ Powerline:style=Italic:size=12:antialiase=true:hinting=true
!URxvt.bolditalicFont:    xft:Ricty\ Discord\ for\ Powerline:style=BoldItalic:size=12:antialiase=true:hinting=true

!using font for vim-powerline
! URxvt*font: xft:Ricty\ Diminished\ for\ Powerline:style=Regular:size=14:antialias=true
! URxvt.font:              xft:Ricty\ Diminished\ for\ Powerline:size=14:antialiase=true:hinting=true
! URxvt.boldFont:          xft:Ricty\ Diminished\ for\ Powerline:bold:size=14:antialiase=true:hinting=true
! URxvt.italicFont:        xft:Ricty\ Diminished\ for\ Powerline:italic:size=14:antialiase=true:hinting=true
! URxvt.bolditalicFont:    xft:Ricty\ Diminished\ for\ Powerline:bold:italic:size=14:antialiase=true:hinting=true

!URxvt*font: xft:Ricty\ Diminished:style=Regular:size=12:antialias=true
!URxvt.font:              xft:Ricty\ Diminished:size=12:antialiase=true:hinting=true
!URxvt.boldFont:          xft:Ricty\ Diminished:bold:size=12:antialiase=true:hinting=true
!URxvt.italicFont:        xft:Ricty\ Diminished:italic:size=12:antialiase=true:hinting=true
!URxvt.bolditalicFont:    xft:Ricty\ Diminished:bold:italic:size=12:antialiase=true:hinting=true

URxvt*font: xft:PlemolJP35\ Console\ NF:style=Regular:size=14:antialias=true
URxvt.font:              xft:PlemolJP35\ Console\ NF:style=Regular:size=14:antialiase=true:hinting=true
URxvt.boldFont:          xft:PlemolJP35\ Console\ NF:style=Bold:size=14:antialiase=true:hinting=true
URxvt.italicFont:        xft:PlemolJP35\ Console\ NF:style=Italic:size=14:antialiase=true:hinting=true
URxvt.bolditalicFont:    xft:PlemolJP35\ Console\ NF:style=Bold\ Italic:size=14:antialiase=true:hinting=true

!!文字間 小さい程狭い マイナスもオーケー
URxvt.letterSpace:          0
!!行間
URxvt.lineSpace:            0

! hybrid color for URxvt
!#define u_background        rgb:1d/1f/21
!#define u_foreground        rgb:c5/c8/c6
!#define u_normal_black      rgb:28/2a/2e
!#define u_normal_red        rgb:a5/42/42
!#define u_normal_green      rgb:8c/94/40
!#define u_normal_yellow     rgb:de/93/5f
!#define u_normal_blue       rgb:5f/81/9d
!#define u_normal_magenta    rgb:85/67/8f
!#define u_normal_cyan       rgb:5e/8d/87
!#define u_normal_white      rgb:70/78/80
!#define u_bright_black      rgb:37/3b/41
!#define u_bright_red        rgb:cc/66/66
!#define u_bright_green      rgb:b5/bd/68
!#define u_bright_yellow     rgb:f0/c6/74
!#define u_bright_blue       rgb:81/a2/be
!#define u_bright_magenta    rgb:b2/94/bb
!#define u_bright_cyan       rgb:8a/be/b7
!#define u_bright_white      rgb:c5/c8/c6
!
!URxvt.depth: 32
!URxvt.background:   u_background
!URxvt.foreground:   u_foreground
!URxvt.color0:       u_normal_black
!URxvt.color1:       u_normal_red
!URxvt.color2:       u_normal_green
!URxvt.color3:       u_normal_yellow
!URxvt.color4:       u_normal_blue
!URxvt.color5:       u_normal_magenta
!URxvt.color6:       u_normal_cyan
!URxvt.color7:       u_normal_white
!URxvt.color8:       u_bright_black
!URxvt.color9:       u_bright_red
!URxvt.color10:      u_bright_green
!URxvt.color11:      u_bright_yellow
!URxvt.color12:      u_bright_blue
!URxvt.color13:      u_bright_magenta
!URxvt.color14:      u_bright_cyan
!URxvt.color15:      u_bright_white

!! color scheme and opacity - gruvbox-dark https://github.com/morhetz/gruvbox
!URxvt.depth:       32
!URxvt.color0:      [100]#282828
!URxvt.color1:      [100]#cc241d
!URxvt.color2:      [100]#98971a
!URxvt.color3:      [100]#d79921
!URxvt.color4:      [100]#458588
!URxvt.color5:      [100]#b16286
!URxvt.color6:      [100]#689d6a
!URxvt.color7:      [100]#a89984
!URxvt.color8:      [100]#928374
!URxvt.color9:      [100]#fb4934
!URxvt.color10:     [100]#b8bb26
!URxvt.color11:     [100]#fabd2f
!URxvt.color12:     [100]#83a598
!URxvt.color13:     [100]#d3869b
!URxvt.color14:     [100]#8ec07c
!URxvt.color15:     [100]#ebdbb2
!URxvt.foreground:  [100]#ebdbb2
!URxvt.background:  [100]#282828
!URxvt.colorIT:     [100]#8ec07c
!URxvt.colorBD:     [100]#fe8019
!URxvt.colorUL:     [100]#83a598
!URxvt.scrollColor: [100]#504945
!!URxvt.troughColor: [100]#3C3836

! Molokai theme ref https://gist.github.com/vreon/845878
!URxvt.background: #101010
!URxvt.foreground: #d0d0d0
!URxvt.cursorColor: #d0d0d0
!URxvt.color0: #101010
!URxvt.color1: #960050
!URxvt.color2: #66aa11
!URxvt.color3: #c47f2c
!URxvt.color4: #30309b
!URxvt.color5: #7e40a5
!URxvt.color6: #3579a8
!URxvt.color7: #9999aa
!URxvt.color8: #303030
!URxvt.color9: #ff0090
!URxvt.color10: #80ff00
!URxvt.color11: #ffba68
!URxvt.color12: #5f5fee
!URxvt.color13: #bb88dd
!URxvt.color14: #4eb4fa
!URxvt.color15: #d0d0d0
!URxvt.colorIT:     [100]#8ec07c
!URxvt.colorBD:     [100]#fe8019
!URxvt.colorUL:     [100]#83a598
!URxvt.scrollColor: [100]#504945

! Hybrid Terminal Colours. Uses the palette from Tomorrow-Night:
! https://github.com/chriskempson/tomorrow-theme/blob/master/vim/colors/Tomorrow-Night.vim
! vim: ft=xdefaults

!!URxvt.background: #1D1F21
!URxvt.background: #000000
!URxvt.foreground: #C5C8C6
!! black
!URxvt.color0: #282A2E
!URxvt.color8: #373B41
!! red
!URxvt.color1: #A54242
!URxvt.color9: #CC6666
!! green
!URxvt.color2: #8C9440
!URxvt.color10: #B5BD68
!! yellow
!URxvt.color3: #DE935F
!URxvt.color11: #F0C674
!! blue
!URxvt.color4: #5F819D
!URxvt.color12: #81A2BE
!! magenta
!URxvt.color5: #85678F
!URxvt.color13: #B294BB
!! cyan
!URxvt.color6: #5E8D87
!URxvt.color14: #8ABEB7
!! white
!URxvt.color7: #707880
!URxvt.color15: #C5C8C6

! Hybrid Terminal Colours. Uses the palette from Tomorrow-Night:
! https://github.com/chriskempson/tomorrow-theme/blob/master/vim/colors/Tomorrow-Night.vim and the reduced contrast background color from Codecademy's online editor:
! https://www.codecademy.com/learn
! vim: ft=xdefaults

!*background: #232C31
!URxvt.background: #010101
!URxvt.foreground: #C5C8C6
!! black
!URxvt.color0: #2D3C46
!URxvt.color8: #425059
!! red
!URxvt.color1: #A54242
!URxvt.color9: #CC6666
!! green
!URxvt.color2: #8C9440
!URxvt.color10: #B5BD68
!! yellow
!URxvt.color3: #DE935F
!URxvt.color11: #F0C674
!! blue
!URxvt.color4: #5F819D
!URxvt.color12: #81A2BE
!! magenta
!URxvt.color5: #85678F
!URxvt.color13: #B294BB
!! cyan
!URxvt.color6: #5E8D87
!URxvt.color14: #8ABEB7
!! white
!URxvt.color7: #6C7A80
!URxvt.color15: #C5C8C6


! Ayu https://github.com/ayu-theme/ayu-vim

!URxvt.background: #212733
!URxvt.foreground: #D9D7CE
!URxvt.color0: #151a1e
!URxvt.color1: #FF3333
!URxvt.color2: #B8CC52 
!URxvt.color3: #E7C547
!URxvt.color4: #36A3D9
!URxvt.color5: #A37ACC
!URxvt.color6: #95E6CB
!URxvt.color7: #3f4e5a
!URxvt.color8: #1c2328
!URxvt.color9: #FF7733
!URxvt.color10: #232b32
!URxvt.color11: #313d46
!URxvt.color12: #2a343c
!URxvt.color13: #F07178
!URxvt.color14: #384550
!URxvt.color15: #465764


!!https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/Xresources/ayu
!! Generated with :
!! XRDB2Xreources.py
!
!*.foreground:  #e6e1cf
!*.background:  #0f1419
!*.cursorColor: #f29718
!!
!! Black
!*.color0:      #000000
!*.color8:      #323232
!!
!! Red
!*.color1:      #ff3333
!*.color9:      #ff6565
!!
!! Green
!*.color2:      #b8cc52
!*.color10:     #eafe84
!!
!! Yellow
!*.color3:      #e7c547
!*.color11:     #fff779
!!
!! Blue
!*.color4:      #36a3d9
!*.color12:     #68d5ff
!!
!! Magenta
!*.color5:      #f07178
!*.color13:     #ffa3aa
!!
!! Cyan
!*.color6:      #95e6cb
!*.color14:     #c7fffd
!!
!! White
!*.color7:      #ffffff
!*.color15:     #ffffff
!!
!! Bold, Italic, Underline
!*.colorBD:     #e6e1cf
!!*.colorIT:
!!*.colorUL:

!!https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/Xresources/ayu_light
!! Generated with :
!! XRDB2Xreources.py
!!
!*.foreground:  #5c6773
!*.background:  #fafafa
!*.cursorColor: #ff6a00
!!
!! Black
!*.color0:      #000000
!*.color8:      #323232
!!
!! Red
!*.color1:      #ff3333
!*.color9:      #ff6565
!!
!! Green
!*.color2:      #86b300
!*.color10:     #b8e532
!!
!! Yellow
!*.color3:      #f29718
!*.color11:     #ffc94a
!!
!! Blue
!*.color4:      #41a6d9
!*.color12:     #73d8ff
!!
!! Magenta
!*.color5:      #f07178
!*.color13:     #ffa3aa
!!
!! Cyan
!*.color6:      #4dbf99
!*.color14:     #7ff1cb
!!
!! White
!*.color7:      #ffffff
!*.color15:     #ffffff
!!
!! Bold, Italic, Underline
!*.colorBD:     #5c6773
!!*.colorIT:
!!*.colorUL:


! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized
!
! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

URxvt.depth: 32
*background:              [90]S_base03
*foreground:              [90]S_base0
*fading:                  40
*fadeColor:               [90]S_base03
*cursorColor:             [90]S_base1
*pointerColorBackground:  [90]S_base01
*pointerColorForeground:  [90]S_base1

*color0:                  [90]S_base02
*color1:                  [90]S_red
*color2:                  [90]S_green
*color3:                  [90]S_yellow
*color4:                  [90]S_blue
*color5:                  [90]S_magenta
*color6:                  [90]S_cyan
*color7:                  [90]S_base2
*color9:                  [90]S_orange
*color8:                  [90]S_base03
*color10:                 [90]S_base01
*color11:                 [90]S_base00
*color12:                 [90]S_base0
*color13:                 [90]S_violet
*color14:                 [90]S_base1
*color15:                 [90]S_base3

! Perl 拡張の設定
! matcher: URLをクリックで開けるようになる
! fullscreen: fullscreenに対応
URxvt.perl-ext-common: default, matcher, fullscreen

! URLをクリックで開けるようになる設定
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! フルスクリーンの設定
! https://wiki.archlinux.jp/index.php/Rxvt-unicode#.E3.83.95.E3.83.AB.E3.82.B9.E3.82.AF.E3.83.AA.E3.83.BC.E3.83.B3
URxvt.keysym.F11: perl:fullscreen:switch

