!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!

!!スクロールバーを右側
URxvt.scrollBar_right:      true
!!レールを消す
URxvt.scrollBar_floating:   true
!!rxvt plain next xterm
URxvt.scrollstyle:          plain
!!カーソル点滅
URxvt.cursorBlink:          true
!!カーソル形状
URxvt.cursorUnderline:      true
!!キーボード入力するとマウスポインタが消える
URxvt.pointerBlank:         true
!!ヴィジュアルベル
URxvt.visualBell:           true
!!バックスクロール出来る最大行数
URxvt.saveLines:            3000
!!アウトオブフォーカス時に画面を暗くする(%)
URxvt.fading:               10

!!Font
!
URxvt.font:              xft:PlemolJP35\ Console\ NF:style=Regular:size=12:antialiase=true:hinting=true
URxvt.boldFont:          xft:PlemolJP35\ Console\ NF:style=Bold:size=12:antialiase=true:hinting=true
URxvt.italicFont:        xft:PlemolJP35\ Console\ NF:style=Italic:size=12:antialiase=true:hinting=true
URxvt.bolditalicFont:    xft:PlemolJP35\ Console\ NF:style=Bold\ Italic:size=12:antialiase=true:hinting=true

!!文字間 小さい程狭い マイナスもオーケー
URxvt.letterSpace:          0
!!行間
URxvt.lineSpace:            0


! Solarized color scheme 
!
! https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/Xresources/Solarized%20Dark%20-%20Patched
! https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/LICENSE
!

!
! Generated with :
! XRDB2Xreources.py
!
URxvt.depth: 32
*.foreground:  [93]#708284
*.background:  [93]#001e27
*.cursorColor: [93]#708284
!
! Black
*.color0:      [93]#002831
*.color8:      [93]#475b62
!
! Red
*.color1:      [93]#d11c24
*.color9:      [93]#bd3613
!
! Green
*.color2:      [93]#738a05
*.color10:     [93]#475b62
!
! Yellow
*.color3:      [93]#a57706
*.color11:     [93]#536870
!
! Blue
*.color4:      [93]#2176c7
*.color12:     [93]#708284
!
! Magenta
*.color5:      [93]#c61c6f
*.color13:     [93]#5956ba
!
! Cyan
*.color6:      [93]#259286
*.color14:     [93]#819090
!
! White
*.color7:      [93]#eae3cb
*.color15:     [93]#fcf4dc
!
! Bold, Italic, Underline
*.colorBD:     [93]#819090
!*.colorIT:
!*.colorUL:

! Perl 拡張の設定
! matcher: URLをクリックで開けるようになる
! fullscreen: fullscreenに対応
! URxvt.perl-ext-common: default, matcher, fullscreen
URxvt.perl-ext-common: default
URxvt.perl-ext-common: matcher
URxvt.perl-ext-common: fullscreen

! URLをクリックで開けるようになる設定
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! フルスクリーンの設定
! https://wiki.archlinux.jp/index.php/Rxvt-unicode#.E3.83.95.E3.83.AB.E3.82.B9.E3.82.AF.E3.83.AA.E3.83.BC.E3.83.B3
URxvt.keysym.F11: perl:fullscreen:switch

