[[plugins]]
repo = 'nvim-treesitter/nvim-treesitter'
merged = 0
on_event = 'VimEnter'
hook_source = '''

lua <<EOF
require'nvim-treesitter.configs'.setup {
  highlight = {
    enable = true,
    disable = {
      -- 'vue',
    }
  },
  -- indent = {
  --   enable = true,
  -- },
  -- ensure_installed = 'maintained', -- 言語ごとのパーサーファイルをインストールする
}
EOF

function! MyTSInstall()
  TSUpdate

  echo "C/C++"
  TSInstall c cpp cmake cuda glsl

  echo "Rust"
  TSInstall rust

  echo "Python"
  TSInstall python

  echo "Lua"
  TSInstall lua

  echo "Web"
  TSInstall html css javascript typescript json jsonc json5 tsx

  echo "TOML/YAML"
  TSInstall toml yaml

  echo "Vim"
  TSInstall vim
endfunction

'''
